{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}
<span class="votesum{f:if(condition:'{comment.voteSum} < 0', then:' voted-negative')}{f:if(condition:'{comment.voteSum} > 0', then:' voted-positive')}" title="{f:translate(key:'tx_pwcomments.votes.summary', arguments:'{count:\'{comment.voteCount}\', up:\'{comment.upvoteAmount}\', down:\'{comment.downvoteAmount}\'}')}">
	<f:if condition="{comment.voteSum} > 0">+</f:if>{comment.voteSum}
</span>
<f:if condition="{settings.hideVoteButtons} == 0">
	<f:link.action action="upvote" arguments="{comment:comment}" addQueryString="true" class="upvote{f:if(condition:'{pw:inArray(subject:\'{upvotedCommentUids}\', needle:\'{comment.uid}\')}', then:' voted')}" section="{settings.commentAnchorPrefix}{comment.uid}"><f:translate key="tx_pwcomments.votes.upvote" /></f:link.action>
	<f:link.action action="downvote" arguments="{comment:comment}" addQueryString="true" class="downvote{f:if(condition:'{pw:inArray(subject:\'{downvotedCommentUids}\', needle:\'{comment.uid}\')}', then:' voted')}" section="{settings.commentAnchorPrefix}{comment.uid}"><f:translate key="tx_pwcomments.votes.downvote" /></f:link.action>
</f:if>
