{namespace pw=PwCommentsTeam\PwComments\ViewHelpers}<f:translate key="tx_pwcomments.mailToAuthorAfterPublish.salutation" />
<f:translate key="tx_pwcomments.mailToAuthorAfterPublish.newCommentWithModerationHasBeenPublished"/>
<f:format.raw><f:uri.page addQueryString="true" absolute="true" section="{settings.commentAnchorPrefix}{comment.uid}"
                          argumentsToBeExcludedFromQueryString="{0:'id', 1:'cHash', 2:'tx_pwcomments_pi1'}" /></f:format.raw>

---------------------------------------------------

<f:translate key="tx_pwcomments.notificationMail.name" />{f:if(condition: '{comment.author}', then: '{comment.author.username} {f:translate(key:\'tx_pwcomments.notificationMail.registred\')}', else: '{comment.authorName}')}
<f:translate key="tx_pwcomments.notificationMail.mail" />{f:if(condition: '{comment.author}', then: '{comment.author.email}', else: '{comment.authorMail}')}

<f:translate key="tx_pwcomments.notificationMail.comment" />
{comment.message}
